# Set default behavior to automatically normalize line endings
* text=auto

# Force bash scripts, etc. to always use LF
*.sh    text eol=lf
*.js    text eol=lf
*.py    text eol=lf
*.java  text eol=lf
*.html  text eol=lf
*.css   text eol=lf
*.md    text eol=lf
*.csv 	text eol=lf

# Force batch scripts to always use CRLF
*.bat   text eol=crlf
*.cmd   text eol=crlf