# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtualenv
venv/
ENV/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
artist_urls.csv
artist_data/
*.log

# Keep input directory but ensure it's empty in the repository
blues_data/*
!blues_data/.gitkeep

# Environment variables
.env